<div class="wrapper">
  <header class="header">
    <img height="100" src="./assets/agemini.gif" />
  </header>
  <article class="main" #scrollframe>
    @for(results of questions; track results.prompt) {
      <h3>{{ results.prompt }}</h3>
      <span>{{ results.result }}</span>
    }
  </article>
  <footer class="footer">
    <textarea [(ngModel)]="prompt" matInput placeholder="Ex. Create a history about an angular developer..."></textarea>
    <button color="primary" aria-label="send" (click)="generate()" [disabled]="writing">send</button>
  </footer>
</div>