<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      [colspan]="4"
      [rowspan]="1"
      [style.background]="'#9c27b0'">
      <img height="100%" src="./assets/angular_black.png" />
      <h1>NG-Bard</h1>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="4"
      [rowspan]="6"
      [style.background]="'#424242'">
    @if (writing) {
      <img width="20" src="https://www.gstatic.com/lamda/images/sparkle_resting_v2_darkmode_2bdb7df2724e450073ede.gif" />
    }
    <p>{{result}}</p>
  </mat-grid-tile>


  <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
  >
    <mat-form-field class="example-full-width">
    <mat-label>Message to ng-bard</mat-label>
    <textarea [(ngModel)]="prompt" matInput placeholder="Ex. Create a history about an angular developer..."></textarea>
  </mat-form-field>

  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >
      <button mat-raised-button color="primary" (click)="generate()">Send</button>

  </mat-grid-tile>




</mat-grid-list>



