/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

span {
  white-space: initial;
}

mat-grid-tile-content, mat-list, mat-list-item {
  width: 100%;
}
